@font-face {
	font-family: "ProductSans-Regular";
	src: url("../../Public/Fonts/ProductSans-Regular.ttf");
}
@font-face {
	font-family: "ProductSans-Medium";
	src: url("../../Public/Fonts/ProductSans-Medium.ttf");
}
@font-face {
	font-family: "ProductSans-Light";
	src: url("../../Public/Fonts/ProductSans-Light.ttf");
}

.navbar {
	position: fixed;
	width: 100%;
	transition: ease-in-out 0.2s;
}

.navbar.solid,
.navbar-burger span {
	background-color: #328c68;
}

a.navbar-item {
	color: #328c68;
	font-family: "ProductSans-Regular";
}

.navbar .navbar-menu hr {
	display: none;
}

.navbar.solid a.navbar-item {
	color: #fff;
}

.navbar.solid .navbar-burger span {
	background-color: #fff;
}

.hero-banner {
	background-image: url("../../Public/Images/HeroImg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-body h1,
.section h2,
.button {
	font-family: "ProductSans-Medium";
}

.hero-body .container p,
.section .columns .column .card-content {
	font-weight: 350;
	font-family: ProductSans-light;
}

.section p {
	font-family: "ProductSans-Regular";
}

.card .card-content {
	font-weight: 280;
}

.button {
	width: max-content;
}

.button,
.button:hover {
	background-color: #095d3b;
	color: #fff;
	border: hidden;
}

.page-content {
	display: flex;
}

.left,
.right {
	flex-grow: 1;
	flex-basis: 50%;
	height: 100vh;
	transform: translateX(0%);
	transition: transform 0.5s ease-in-out;
}

.left {
	padding-left: 5%;
	padding-right: 5%;
}

.right {
	background-color: #328c68;
}

.left.is-active {
	transform: translateX(100%);
}

.right.is-active {
	transform: translateX(-100%);
}

.field {
	width: 100%;
	overflow: hidden;
	max-height: 4em;
	transition: max-height 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.field .control,
.field .input {
	width: 100%;
}

.field.field-is-hidden {
	max-height: 0em;
	margin: 0px;
}

@media screen and (min-width: 1024px) {
	.hero-body .container p {
		width: 45%;
	}

	.box p {
		width: 65%;
		margin: auto;
	}
}

@media screen and (max-width: 769px) {
	.navbar-menu.is-active {
		position: fixed;
		width: 100%;
		top: 3.25rem;
		background-color: #eee;
		text-align: center;
		transition: all ease-in-out 0.2s;
	}
	a.navbar-item {
		color: #328c68 !important;
	}
	.navbar .navbar-menu hr {
		display: block;
		background-color: #ddd;
		height: 1px;
	}

	.page-content {
		flex-direction: column;
	}

	.left {
		margin-top: 5rem;
	}

	.right {
		background-color: #fff;
	}

	.right .title {
		display: none;
	}

	.right .sub-title-1 {
		color: #000;
	}
}
